/* File Created: 十月 15, 2012 */



.coupon-biz span, .coupon-biz strong {display:block;padding:0 0 10px 0;}
.coupon-biz i {color:#f60;}
.coupon-biz strong a {color:#1b918d; width:130px; display:inline-block; line-height:18px;}